<!DOCTYPE html>
<html>
<head>
  <title>Agregar Contenido</title>
</head>
<body>
  <h1>Agregar Post</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
      <ul>
        {% for field in form %}
          {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors}}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
    <button type="submit">Guardar Contenido</button> 
  </form>
  <a href="{% url 'listar_producto' %}">Ver Post</a>
  <a href="{% url 'inicio' %}">Volver a inicio</a>
</body>
</html>